<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Tổng quan</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/tinhtoan">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Tính toán</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/buocxa">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Bước xả</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/sanluong">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Sản lượng</span>
      </a>
    </li>
  </ul>
</nav>