.input-container {
    position: relative;
}
.typeInput {
    display: flex;
    align-items: center;
}
.typeSpan {
    display: flex;
    position: absolute;
    right: 0;
}
.typeInput input::-webkit-outer-spin-button,    
.typeInput input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; 
}